@{
    ViewData["Title"] = "Home Page";
}

@using (Html.BeginForm("TransferFile", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <label for="file">Виберіть JSON файл:</label>
    <input type="file" name="file" id="file" accept=".json" />
    <br />
    <input type="submit" value="Завантажити" />
}